annotated-types==0.7.0
bitarray==3.8.1
bitstring==4.4.0
boolean.py==5.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
construct==2.10.70
cryptography==48.0.0
esp-bool-parser==0.2.3
esp-coredump==1.16.0
esp-idf-diag==0.2.0
esp-idf-kconfig==3.8.1
esp-idf-monitor==1.9.0
esp-idf-sbom==1.0.1
esp-idf-size==2.2.1
esp_idf_nvs_partition_gen==0.2.0
esp_idf_panic_decoder==1.5.0
esptool==5.2.0
filelock==3.29.0
freertos-gdb==1.0.4
idf-component-manager==3.0.2
idna==3.14
iniconfig==2.3.0
intelhex==2.3.0
jsonref==1.1.0
license-expression==30.4.4
markdown-it-py==4.2.0
mdurl==0.1.2
netifaces==0.11.0
packaging==26.2
pexpect==4.9.0
pluggy==1.6.0
psutil==7.2.2
ptyprocess==0.7.0
pyclang==0.6.3
pycparser==3.0
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
pyelftools==0.32
pygdbmi==0.11.0.0
Pygments==2.20.0
pyparsing==3.3.2
pyserial==3.5
pytest==9.0.3
pytest-embedded==2.7.0
pytest-embedded-idf==2.7.0
pytest-embedded-qemu==2.7.0
pytest-embedded-serial==2.7.0
pytest-embedded-serial-esp==2.7.0
python-dotenv==1.2.2
python-gitlab==8.3.0
PyYAML==6.0.3
qemu.qmp==0.0.3
reedsolo==1.7.0
requests==2.33.1
requests-file==3.0.1
requests-toolbelt==1.0.0
rich==15.0.0
rich-click==1.9.7
ruamel.yaml==0.19.1
schema==0.7.8
setuptools==82.0.1
tibs==0.5.7
tqdm==4.67.3
tree-sitter==0.25.2
tree-sitter-c==0.24.2
truststore==0.10.4
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
